body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, black, grey, white);
    background-attachment: fixed;
}

h1, h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}

.res{
    padding: 5px;
    margin: 3px;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agregado{
    color: yellow;
}

.editado{
    color: rgb(249, 7, 160);
}

.eliminado{
    color: red;
}

.error{
    color: white;
}

.agregar-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregar-producto .form {
    min-height: auto;
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #D6D6D6;
    border-radius: 8px;
    box-sizing: border-box;
}

.agregar-producto input {
    width: 250px;
    margin-bottom: 10px;
}

.agregar-producto label {
    width: 250px;
    text-align: center;
}

.agregar-producto button {
    width: 250px;
}
.actualizar-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actualizar-producto .form {
    min-height: auto;
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #D6D6D6;
    border-radius: 8px;
    box-sizing: border-box;
}

.actualizar-producto input {
    width: 250px;
    margin-bottom: 10px;
}

.actualizar-producto label {
    width: 250px;
    text-align: center;
}

.actualizar-producto button {
    width: 250px;
}
input {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;
}

button{
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover{
    background-color: #333;
}

label{
    width: 70%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-submit{
    background-color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color:#D6D6D6;
    border-radius: 8px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
